.main {
  .header {
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 30px;

    .title {
      font-weight: 700;
    }
  }

  .content {
    display: flex;
    gap: 100px;
    height: 100%;
    padding: 15px 0;

    .left {
      flex: 1;

      .title {
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 15px;
      }

      .products {
        margin-bottom: 15px;

        &__item {
          border-bottom: 2px solid #000000;
        }

        &__item:first-child {
          border-top: 2px solid #000000;
        }
      }

      .comment {
        textarea {
          resize: none;
          width: 100%;
          border-radius: 0;
          border: 1px solid #000000;
          outline: none;
          background: white;
          padding: 25px;
          min-height: 250px;

          &::placeholder {
            color: #727272;
          }
        }
      }
    }

    .right {
      flex: 1;
      background: #ffffff;
      border: 1px solid #000000;
      padding: 20px;
      max-height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .header {
        &__price {
          display: flex;
          justify-content: space-between;
          text-transform: uppercase;
          margin-bottom: 50px;
        }

        &__description {
          display: flex;
          justify-content: space-between;
          font-size: 0.8em;

          .name {
            flex: 1;
            text-transform: uppercase;
          }

          .value {
            flex: 1;
            text-align: right;
            text-transform: lowercase;
          }
        }
      }

      .footer {
        width: 100%;

        &__check_out {
          width: 100%;
          cursor: pointer;
          text-transform: uppercase;
          text-decoration: none;
          text-align: center;
          padding: 12px 0;
          border: none;
          outline: none;
          color: #ffffff;
          background: #000000;

          &_inactive {
            color: #000000;
            background: #ffffff;
            border: 1px solid #000000;
            pointer-events: none;
          }
        }
      }
    }

  }
}