.main {
    width: 100%;
    padding: 40px 0;

    .title {
        font-weight: 600;
        text-transform: uppercase;
    }

    .content {
        padding: 20px 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;

        &__col {
        }

        @media screen and (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }
}
