* {
    font-size: 16px;
    font-family: "Space Mono", "Roboto Mono", monospace;
    font-weight: 400;
}

body {
    width: 100%;
    height: 100svh !important;
    min-height: 100svh !important;
}

body.no_scroll {
    overflow: hidden;
}

#root {
    width: 100%;
    height: 100%;
}
